@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Geo&family=Graduate&family=Kameron&display=swap');


.root {
    border: 1px solid gray;
    background-color: rgb(240, 240, 209);
    margin: auto;
    width: 80rem;
    font-family: 'Kameron', serif;
}

.resume-header-name{
    font-size: 40px;
    
}
.resume-section-text {
    text-align: left;
    margin-left: 137px;
    width: 500px;

}

.resume-section-meta {
    margin-left: 32px;
    border-left: 2px solid green;
    padding: 22px;
}

.resume-section-meta-row {
    font-size: 22px;
    text-align: left;
    
}


.resume-header-info {
    font-size: 20px;
    
}


.resume-header {
    display: flex;
    margin-top: 25px;
    
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.skills {
    text-align: left;
    margin-left: 12px;
    font-size: 22px;


}

.skill-names {
    margin-left: 5px;
    font-size: 25px;
}

.resume-section-content {
    font-size: 22px;
}

.resume-section-title {
    font-size: 33px;
    margin-left: 12px;
    text-decoration: underline;

}



.projects {
    margin-left: 12px;
}

.project-info {
    margin-left: 22px;
}

.education-content {
    margin-left: 32px;
    font-size: 23px;
    display: flex;
}

.institute {
    text-indent: 3px;
    
}

.study-duration {
    font-size: 24px;
    text-align: center;
}

.studyname {
    font-size: 24px;
    text-align: left;
    margin-left: 29px;

}

.about-course {
    font: italic;
    font-weight: bold;
}

.project-info a{color:blue;}

.institute-name{
    display: inline-block;
    border-radius: 12px;
    background-color: rgb(224, 255, 245);
    padding: 10px;
    text-align: center;
   
}